[run]
source = quiz
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    manage.py
    */wsgi.py
    */asgi.py
    */settings.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = coverage_html
